.header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
    background-color: white;
}
.bebas{
    font-family: "bebas Neue";
    letter-spacing: .1cm;
}
.font-2{
    font-size: 2rem;
}
.font-5{
    font-size: 3rem;
}

body {
    margin: 0;
  }
  
  main,
  header {
    padding: 3px;

  }
  
  header {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index:2;

  }
  
  main {
    min-height: 100vh;
    background: #ffffff;
    position:relative;
    z-index:1;
    height: 100vh
    
  }
  .load{
      size: 50%;
  }
  .side{
    height: 100vh
  }

.bold{
  font-weight: 500;
}

  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
